name: TV_Update
on:
  workflow_dispatch:      # 允許手動點擊執行
jobs:
  update_list:
    runs-on: ubuntu-latest
    steps:
      - name: 檢出代碼
        uses: actions/checkout@v3

      - name: 安裝 Python 與環境
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: 安裝格式工具
        run: |
          pip install yt-dlp requests

      - name: 執行排版
        run: python reformat.py

      - name: 推送回倉庫
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add cloud_tv.m3u
          git commit -m "自動格式電視清單: $(date)" || exit 0
          git push
